* {
    margin: 0;
    padding: 0;
}

body * {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

#container {
    width: 100%;
    margin: auto;
}

img {
    width: 400px;
    margin: 56px auto auto auto;
}

h1 {
    margin: 56px auto;
    font-size: 49px;
    width: 600px;
    font-weight: normal;
}

.enfase {
    color: #FF9900;
}

p {
    width: 600px;
    margin: 56px auto;
    font-size: 14px;
    line-height: 24px;
}

footer {
    margin-top: 100px;
}

#line {
    width: 568px;
    height: 0px;
    margin: auto;
    border: 1px black solid;
    opacity: 10%;
}

ul {
    display: flex;
    justify-content: center;
    gap: 35px;
    font-size: 14px;
    list-style: none;
    line-height: 45px;
}

ul li a {
    color: #FF9900;
    text-decoration: none;
}

@media (max-width: 700px) {

    h1, p {
        width: 450px;
    }
}